body {
    font-family: 'EB Garamond', serif;
    background-color: white;
}

.jumbotron {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    background-color: white;
}

.row {
    margin: 10px;
    padding: 3 px;
}

.current-day {
    font-size: 20px;
}

h3 {
    font-style: italic;
}